  p {
   text-align: center;
    background: #CCCCCC
}
 body {
   
}

#banner {
      width:100%
}

.principal{
     background: #CCCCCC
}

em strong {
    color: purple;
}

.itens {
     font-style: italic
}
.beneficios {
    background: #FFFFFF;
   
}

h2 {
   text-align: center;
}


.imagembeneficios {
      width: 50%; 
}
