  p {
   text-align: center;
    background: #CCCCCC
}
 body {
   
}

#banner {
      width:100%
}

.principal{
     background: #CCCCCC
}

em strong {
    color: purple;
}

.itens {
     font-style: italic
}
.benefícios {
    background: #FFFFFF;
}

h2 {
   text-align: center;
}

ul {
  display: inline-block;
}

.imagembenefícios {
      width: 50%;
}
